%form{role:"form", method:"POST", action:"/bidder/#{bidder.id}"}
  .form-group
    %label{for:"bidder_id"}
      Bidder ID
    %input.form-control{type:"text", name:"bidder_id", placeholder:"Bidder ID", value:"#{bidder.bidder_id}"}
  .form-group
    %label{for:"name"}
      Bidder Name
    %input.form-control{type:"text", name:"name", placeholder:"Bidder Name", value:"#{bidder.name}"}
  %button.btn.btn-default{type:"submit", value:"Save Bidder"}
    Save Bidder
.container
  .col-md-9
    %table.table.table-striped
      %thead
        %tr
          %th
            Item ID
          %th
            Item Name
          %th
            Price
      -bidder.purchases.each do |purchase|
        %tbody
          %tr   
            %td
              =purchase.item.item_id
            %td
              =purchase.item.name
            %td
              $#{'%0.2f' % purchase.price}
%hr
%h3
  Total: $#{'%0.2f' % bidder.purchases.inject(0){|sum,purchase| sum+purchase.price}}
%a.btn.btn-primary{href: "/bidder/#{bidder.id}/receipt"}
  Checkout Invoice
