%form{id: "user_search", action: "#{url_for("/purchase/new")}", method: "POST"}
  -unless errors.nil?
    .errors
      -errors.each do |type,msg|
        .error
          =msg
  .container
    .row
      .col-md-3
        .form-group
          %input.form-control.input-lg{type: "text", id: "bidder_id", name: "bidder_id", autofocus: true}
          %label{for:"bidder_number"}
            Bidder Number
      .col-md-3
        .form-group
          %input.form-control.input-lg{type: "text", id: "item_id", name: "item_id"}
          %label{for:"item_id"}
            Item ID
      .col-md-3
        .form-group
          %input.form-control.input-lg{type: "text", id: "price", name: "price"}
          %label{for:"price"}
            Price
    .row
      .col-md-3
        %button.form-control.btn.btn-default{type:"submit"}
          Save
      .col-md-5
        .checkbox
          %input{type:"checkbox", name:"create_item", onclick:"javascript:toggle(this, 'item_name');"}
            Override Item check (creates a new item)
        %input.form-control.input-sm{type:"text", id:"item_name", name:"item_name", style:"display:none;", placeholder:"New Item Title"} 
          
%hr
%table.table
  %thead
    %tr
      %th
        Bidder ID
      %th
        Bidder Name
      %th
        Item ID
      %th
        Item Name
      %th
        Price
  %tbody
  -purchases.each do |purchase|
    %tr
      %td
        %a{href:"/bidder/#{purchase.bidder.id}"}
          =purchase.bidder.bidder_id
      %td
        %a{href:"/bidder/#{purchase.bidder.id}"}
          =purchase.bidder.name
      %td
        %a{href:"/item/#{purchase.item.id}"}
          =purchase.item.item_id
      %td
        %a{href:"/item/#{purchase.item.id}"}
          =purchase.item.name
      %td
        $#{'%0.2f' % purchase.price}
      %td
        %a.btn.btn-info{href:"/purchase/#{purchase.id}"}
          Edit
      %td
        %a.btn.btn-danger{href:"javascript:conf(\"Okay to Remove item #{purchase.item.item_id} for bidder #{purchase.bidder.bidder_id}?\", '/purchase/delete/#{purchase.id}')"}
          Delete
:javascript

  function conf(msg, url) {
    var r = confirm(msg);
    if (r == true) {
      window.location = url;
    } 
  }

  function toggle(cb, tgt) {
    var elem = document.getElementById(tgt);
    elem.style.display = cb.checked ? "block" : "none";
  }
